<div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employee Id</th>
                        <th>Title</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let employee of employees' >
                        <td ng-if-start="false">{{ employee.employeeName }}</td>
                        <td>{{ employee.employeeId }}</td>
                        <td>{{ employee.employeeTitle }}</td>
                        <td ng-if-end>{{ employee.employeeActInd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>